html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    width: 0;   /* Oculta la barra de scroll vertical */
    height: 0;  /* Oculta la barra de scroll horizontal */
    display: none; /* Propiedad de respaldo */
}

/* 2. Ocultar en Firefox */
body {
    scrollbar-width: none;  /* Oculta la barra de scroll */
    -ms-overflow-style: none; /* Oculta en IE y Edge antiguo */
}

.light-mode body {
  background-color: #95AEE9 !important;;
}
