html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  
}
.light-mode body {
  background-color: #95AEE9 !important;;
}
.experiencia {
  margin-top: 100px; /* Ajusta el valor según sea necesario */
}