html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  
}
body {
  background-color: #95AEE9 !important;;
}
.formacion {
  margin-top: 100px; 
}

.accordion-button.collapsed {
  background-color: transparent; /* Asegúrate de que los botones no tengan fondo que empuje el contenido */
  border: none;
}

.accordion-content {
  margin-bottom: -200px; /* Ajusta el espacio superior en el contenido expandido */
}
