html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: Arial, sans-serif;
  overflow: auto; /* Esto asegura que el contenido se muestre correctamente */
  overflow-x: hidden; /* Oculta el desbordamiento horizontal */
  height: 100%;
}
main {
min-height: 100vh;
overflow-y: auto;
}
body {
background-color: #95AEE9 !important;;
}

.formacion {
margin-top: 100px;
padding-bottom: 150px; 
}
